extends ../../layout

block content

    h2.center-align Welcome to Git Saved
    h4.center-align ## your WDI Lesson finder ##
    .divider.form-divider
    .row
        form#loginForm(method="post" action="/login").col.s12.m6.offset-m3
            .row
                .input-field.col.s12
                    input(type="email" name="login_email")#login_email.validate
                    label(for="login_email") Email
            .row
                .input-field.col.s12
                    input(type="password" name="login_password")#login_password.validate
                    label(for="login_password") Password
            .row.center-align
                button.btn.waves-effect.waves-light(type="submit") Go!
                    i.material-icons.right send

            .row.center-align
                h5 Don't have an account yet? #[a(href="/signup") Create one!]

