extends ../../layout

block content

    h3.center-align Login
    .divider.form-divider
    .row
        form#loginForm(method="post" action="/events").col.s6.offset-s3
            .row
                .input-field.col.s12
                    input(type="email" name="login_email")#login_email.validate
                    label(for="login_email") Email
            .row
                .input-field.col.s12
                    input(type="password" name="login_password")#login_password.validate
                    label(for="login_password") Password
            .row.center-align
                button.btn.waves-effect.waves-light(type="submit" name="submitLogin") Go!
                    i.material-icons.right send

            .row.center-align
                h5 Don't have an account yet? #[a(href="/signup") Create one!]

