extends ../layout


block content

    table.bordered
        thead
            tr
                th(data-field="") Date
                th(data-field="") Course Title
                th(data-field="") Github Link
        tbody#eventsTable
            tr
                td 2016-08-30
                td Intro to CSS
                td: a(href="#") http://www.github.com/nolo900
                td: i.material-icons library_add
            tr
                td 2016-08-30
                td Intro to CSS
                td: a(href="#") http://www.github.com/nolo900
                td: i.material-icons done
            tr
                td 2016-08-30
                td Intro to CSS
                td: a(href="#") http://www.github.com/nolo900
                td: i.material-icons library_add
            tr
                td 2016-08-30
                td Intro to CSS
                td: a(href="#") http://www.github.com/nolo900
                td: i.material-icons done
            tr
                td 2016-08-30
                td Intro to CSS
                td: a(href="#") http://www.github.com/nolo900
                td: i.material-icons library_add
            tr
                td 2016-08-30
                td Intro to CSS
                td: a(href="#") http://www.github.com/nolo900
                td: i.material-icons done
            tr
                td 2016-08-30
                td Intro to CSS
                td: a(href="#") http://www.github.com/nolo900
                td: i.material-icons library_add
            tr
                td 2016-08-30
                td Intro to CSS
                td: a(href="#") http://www.github.com/nolo900
                td: i.material-icons done
            tr
                td 2016-08-30
                td Intro to CSS
                td: a(href="#") http://www.github.com/nolo900
                td: i.material-icons library_add
            tr
                td 2016-08-30
                td Intro to CSS
                td: a(href="#") http://www.github.com/nolo900
                td: i.material-icons done
            tr
                td 2016-08-30
                td Intro to CSS
                td: a(href="#") http://www.github.com/nolo900
                td: i.material-icons library_add
            tr
                td 2016-08-30
                td Intro to CSS
                td: a(href="#") http://www.github.com/nolo900
                td: i.material-icons done