
nav
    .nav-wrapper
        a(href="#").brand-logo Logo
            //i.material-icons.center-align library_books
        ul#nav-mobile.right.hide-on-med-and-down
            li: a(href="#") Login
            li: a(href="#") Signup