body{
  padding: 1%;
}

.nav-wrapper{
  background-color: #455A64;
}

$breakpoint-mobile-nav: 994px;
@media (min-width: $breakpoint-mobile-nav) {
  .brand-logo{ margin-left: 25px;}
}

.form-divider{
  margin-bottom: 30px;
}

td{
  padding: 10px;
}

//#eventsTable tbody{
//  overflow-y: scroll;
//  height: 100%;
//}